<div id="apropos" class="feature-section ptb-50">
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card contact-card">
                    <div class="card-body">
                        <h5 class="card-title">Contactez-nous</h5>
                        <p class="card-text">Email: info&#64;jibi.com</p>

                        <p class="card-text" >Téléphone: +212 524314476</p>
                        <p class="card-text">Adresse: Siège: Boulevard Zerktouni Imm 10 ; Casablanca</p>
                        <p class="card-text">Heures d'ouverture: Nos Agences: 8h30 à 16h30 / De Lundi à Vendredi</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card about-card">
                    <div class="card-body">
                        <h5 class="card-title">À propos de nous</h5>
                        <p class="card-text">Nous sommes une entreprise leader dans la fourniture des meilleurs services financiers. Notre mission est de rendre la gestion financière facile et accessible pour tous.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card follow-card">
                    <div class="card-body">
                        <h5 class="card-title">Suivez-nous</h5>
                        <ul class="social-links">
                            <li><a href="#" class="animated-link">Facebook</a></li>
                            <li><a href="#" class="animated-link">WhatsApp</a></li>
                            <li><a href="#" class="animated-link">Instagram</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card quick-links-card">
                    <div class="card-body">
                        <h5 class="card-title">Liens rapides</h5>
                        <ul class="quick-links">
                            <li><a href="#">Accueil</a></li>
                            <li><a href="#">À propos</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12 text-center">
                <div class="copyright">
                    <p>&copy; 2024 Jibi. Tous droits réservés.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
