/* Styles globaux */
body {
  background-color: #ffffff; /* Change l'arrière-plan de la page en aliceblue */
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100%;
}

/* Styles pour le conteneur principal */
.container {
  background-color: #fff;
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(18, 121, 87);
  max-width: 1200px;
}

/* Onglets styles */
.payment-heading {
  font-family: Arial sans-serif;
  font-size: 25px;
  color: #000000;
  margin-top: 10px;
  margin-left: 60px;
}

#categorySelect {
  width: 100%;
  font-family: Arial sans-serif;
  font-size: 18px;
  color: #000000;
  border-color: #127957;
  margin-bottom: 20px;
  margin-top: 20px;
}

#categorySelect option {
  font-family: Arial sans-serif;
  font-size: 16px;
  color: #000000;
}

.onglets {
  display: flex;
  justify-content: space-between;
}

.onglets__nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.onglets__nav-item {
  margin-right: 0;
}

.onglets__nav-link {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  border: 1px solid transparent;
  border-bottom: 4px solid transparent;
  transition: background-color 0.3s, color 0.3s;
}

.onglets__nav-link.active {
  background-color: #fff;
  color: #333; /* Couleur du texte en blanc */
  border-left: 1px solid #127957;
  border-right: 1px solid #127957;
  border-bottom: none; /* Supprimer la bordure inférieure pour fusionner avec le conteneur */
  border-top: 1px solid #127957;
}

.onglets__nav-link:not(.active) {
  background-color: #f0f0f0;
  color: #808080; /* Couleur du texte en gris */
  border-color: #ddd;
}

.onglets__content {
  margin-top: -1px; /* Ajuster la marge supérieure pour compenser la suppression de la bordure inférieure */
}

.onglets__pane {
  display: none;
}

.onglets__pane.active {
  display: block;
}

/* Styles pour les créanciers */
.creditors-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.creditor-pair {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.creditor {
  flex: 1;
  margin-right: 20px;
  border: 1px solid #ffa621;
  padding: 10px;
  box-shadow: 0 0 5px rgb(187, 181, 181);
  display: flex;
  transition: border-color 0.3s;
  height: 200px; /* Hauteur fixe pour toutes les boîtes de créanciers */
}

.creditor:last-child {
  margin-right: 0;
}

.creditor:hover {
  border-color: #127957 ;

}

.creditor-logo {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.creditor-logo img {
  max-width: 100px; /* Taille fixe pour les logos */
  height: auto;
}

.creditor-products {
  width: 60%;
  padding-left: 12px;
  border-left: 1px solid #127957; /* Ligne grise entre le logo et les produits */
  color: #000000;
  font-family: Arial sans-serif;
}

.creditor-products label {
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
  font-family: "Arial sans serif";
  font-weight:bold;
  color: #127957;

}

.creditor-products ul {
  padding: 0;
  list-style: none;
}

.creditor-products ul li {
  margin-top: 5px;
  font-size: 14px;
}
/* Styles pour les labels de produits spécifiques */
.creditor-products ul li.label-produit {
  font-weight: bold;
  color: #127957; /* Couleur verte pour les labels de produits */
}

/* Styles pour les boutons de produits spécifiques */
.creditor-products ul li .product-button {
  background-color: #ffffff; /* Couleur verte pour les boutons de produits */
  color: #000000; /* Texte en blanc pour les boutons de produits */
  border: none;
  padding: 8px 13px;
  cursor: pointer;
  margin-top: 5px;
  transition: background-color 0.3s;
}

.creditor-products ul li .product-button:hover {
  background-color: #ffa621; /* Couleur plus foncée au survol */
}
