<div class="container">
  <h2>Liste des Clients</h2>
  <div class="table-controls">
    <button (click)="addClient()" class="add-button">Ajouter un client</button>
  </div>
  <table class="clients-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Produit</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let client of clients">
      <td>{{ client.id }}</td>
      <td>{{ client.lastname }}</td>
      <td>{{ client.firstname }}</td>
      <td></td>
      <td>
        <button (click)="viewDetails(client)" class="view-button">
          <span class="material-icons">visibility</span>
        </button>
        <button (click)="deleteClient(client.id)" class="delete-button">
          <span class="material-icons">delete</span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- Overlay -->
  <div class="overlay" [class.show-overlay]="shouldShowOverlay()"></div>

  <!-- Composant de détails du client -->
  <app-client-detail *ngIf="selectedClient" [client]="selectedClient" (close)="closeDetails()"></app-client-detail>
</div>
