<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informations personnelles du client :</title>
    <link rel="stylesheet" href="profile.component.css">
</head>
<body>
<div class="profile-page">
    <div class="content">
        <div class="content__cover">
            <div class="content__avatar"></div>
            <div class="content__client-name">Mr.Mohamed Alaoui</div> <!-- Nom du client -->
            <div class="content__balance">
                <div class="balance">
                    <span id="balance-label">Solde: </span>
                    <span id="balance-value" *ngIf="showBalance">$100</span>
                </div>
                <label class="switch">
                    <input type="checkbox" [(ngModel)]="showBalance" id="toggle-eye">
                    <div class="slider"></div>
                </label>


            </div>
            <div class="content__actions">
                <button id="toggle-transfer">Effectuer un virement</button>
                <button id="toggle-creditors">Liste des créanciers</button>
            </div>
            <div class="content__bull"><span></span><span></span><span></span><span></span><span></span></div>
        </div>
        <div class="content__description">
            <ul class="content__list">
                <!-- Informations personnelles du client -->
            </ul>
        </div>
    </div>
    <div class="bg">
        <div><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
    </div>
    <div class="theme-switcher-button" id="theme-switcher-button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
            <!-- Theme Switcher SVG -->
        </svg>
    </div>
</div>

</body>
</html>
